@mixin button-blue  {
  background-color:#0282F9 ;
  border: none;
  border-radius: 0px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  &:active{
    color: #0282F9;
    background-color: #FFFFFF;
  };
  &:hover{
    border: 1px solid #FFFFFF
  };
}